<div style="text-align:center; border-radius:15px; padding:15px; color:white; margin:0; font-family: 'Orbitron', sans-serif; background: #2E0249; background: #11001C; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); overflow:hidden; margin-bottom: 1em;">
    <div style="font-size:150%; color:#FEE100"><b>DAB111 Group 13 Project</b></div>
    <div>Books_dataset</div>
</div>

<table style="border-collapse: collapse; margin: 20px auto; text-align: center; width: 60%;">
  <tr style="background-color: #4da6ff; color: white;">
    <th style="border: 1px solid #000; padding: 10px;">NAME</th>
    <th style="border: 1px solid #000; padding: 10px;">STUDENT ID</th>
  </tr>

  <tr style="background-color: #e6f2ff;">
    <td style="border: 1px solid #000; padding: 10px; color: black; font-weight: bold;">
      Adel Hasan
    </td>
    <td style="border: 1px solid #000; padding: 10px; color: black; font-weight: bold;">0888146</td>
  </tr>

  <tr style="background-color: #e6f2ff;">
    <td style="border: 1px solid #000; padding: 10px; color: black; font-weight: bold;">
      Sumnit Singh Gulshan
    </td>
    <td style="border: 1px solid #000; padding: 10px; color: black; font-weight: bold;">0888735</td>
  </tr>
</table>

<div style="page-break-before: always;"></div>

<div style="page-break-before: always;"></div>

# Introduction
The first part of this project focuses on preparing the dataset before loading it into the Flask application.
All steps in part  come directly from the data-processing notebook as the follwing:
* 1- Dataset Information
    * About the Dataset
    * Dataset Dictionary
* 2- Data Loading
* 3- Data Cleaning and Preprocessing
    * Drop irrelevant features in our dataset
    * Check and rename/ modify some column names
    * Check for missing values
    * Remove all the rows with missing values If it exists
* 4- Create  new clean CSV file to data collection folder to upload to Data Base

<div style="page-break-before: always;"></div>

# Team Contribution

<table style="border-collapse: collapse; margin: 20px auto; text-align: center; width: 60%;">
  <tr style="background-color: #4da6ff; color: white;">
    <th style="border: 1px solid #000; padding: 10px;">Task</th>
    <th style="border: 1px solid #000; padding: 10px;">Adel Hasan</th>
    <th style="border: 1px solid #000; padding: 10px;">Sumnit Singh Gulshan</th>
  </tr>

  <tr style="background-color: #e6f2ff;">
    <td style="border: 1px solid #000; padding: 10px;color: black; font-weight: bold;">Dataset & Data Cleaning and Preprocessing</td>
    <td style="border: 1px solid #000; padding: 10px;">⭐</td>
    <td style="border: 1px solid #000; padding: 10px;"></td>
  </tr>

  <tr style="background-color: #e6f2ff;">
    <td style="border: 1px solid #000; padding: 10px;color: black; font-weight: bold;">Pyton Cod</td>
    <td style="border: 1px solid #000; padding: 10px;">⭐</td>
    <td style="border: 1px solid #000; padding: 10px;"></td>
  </tr>

  <tr style="background-color: #e6f2ff;">
    <td style="border: 1px solid #000; padding: 10px;color: black; font-weight: bold;">HTML</td>
    <td style="border: 1px solid #000; padding: 10px;"></td>
    <td style="border: 1px solid #000; padding: 10px;">⭐</td>
  </tr>




</table>

<div style="page-break-before: always;"></div>

# **Dataset Information**

### **About the Dataset**

The dataset was found in kaggle for students analyses .The scraped dataset was cleaned and published on Kaggle.

| **Field**              | **Information**                                                                                                              |
| ---------------------- | ---------------------------------------------------------------------------------------------------------------------------- |
| **Dataset Name**       | Books Dataset – Jugal Pal-Singh Jalota                                                                                       |
| **File Name**          | `Book_Dataset_1.csv`                                                                                                         |
| **Source / Platform**  | Kaggle                                                                                                                       |
| **Dataset URL**        | [https://www.kaggle.com/datasets/jalota/books-dataset](https://www.kaggle.com/datasets/jalota/books-dataset)                 |
| **Author / Publisher** | Jugal Pal-Singh Jalota                                                                                                       |
| **Description**        | A scraped dataset containing book information such as category, price, tax, reviews, description, ratings, and availability. |
| **Format**             | CSV                                                                                                                          |
| **License**            | Check the Kaggle dataset page; typically for educational/research use                                                        |
| **Number of Rows**     | approx. 1000+ rows                                              |
| **Number of Columns**  | 11                                                                                                                           |
| **Last Updated**       | Not specified on Kaggle                                                                                                      |
| **Primary Use Cases**  | EDA, recommendation systems, pricing analysis, ratings analysis, category frequency visualization                            |

## Dataset Dictionary

| **Column Name**       | **Type** | **Description**                       |
| --------------------- | -------- | ------------------------------------- |
| **BookID**            | Integer  | Unique identifier for each book       |
| **Title**             | Text     | Title of the book                     |
| **Category**          | Text     | Category/genre of the book            |
| **Price**             | Float    | Price before tax                      |
| **Price_After_Tax**   | Float    | Price including tax                   |
| **Tax_amount**        | Float    | Amount of tax applied                 |
| **Avilability**       | Integer  | Number of units in stock              |
| **Number_of_reviews** | Integer  | Total number of customer reviews      |
| **Book_Description**  | Text     | Short summary/description of the book |
| **Image_Link**        | URL/Text | Link to book cover image              |
| **Stars**             | Integer  | Rating from 0 to 5                    |

| **Variable Type**                        | **Count** | **Variables**                                 |
| ---------------------------------------- | --------: | --------------------------------------------- |
| **Continuous (Numeric / Float)**         |     **3** | Price, Price_After_Tax, Tax_amount            |
| **Discrete (Integer / Count variables)** |     **4** | BookID, Avilability, Number_of_reviews, Stars |
| **Categorical (Non‐numeric categories)** |     **1** | Category                                      |
| **Text / String (Free text / URLs)**     |     **3** | Title, Book_Description, Image_Link           |
| **Binary**                               |     **0** | *None*                                        |

# Data Loading

In [21]:
import pandas as pd
import os

In [22]:
# Down load data from  dataset from our GitHub account
url = "https://www.kaggle.com/datasets/jalota/books-dataset?select=Book_Dataset_1.csv"

book_ds = pd.read_csv("Book_Dataset_1.csv")
book_ds.sample(10, random_state=999)

,Unnamed: 0,Title,Category,Price,Price_After_Tax,Tax_amount,Avilability,Number_of_reviews,Book_Description,Image_Link,Stars
842,842,"Friday Night Lights: A Town, a Team, and a Dream",Sports and Games,51.22,51.22,0.0,3,0,Return once again to the enduring account of l...,http://books.toscrape.com/media/cache/89/e8/89...,3
68,68,The Death of Humanity: and the Case for Life,Philosophy,58.11,58.11,0.0,16,0,Do you believe human life is inherently valuab...,http://books.toscrape.com/media/cache/3f/f6/3f...,4
308,308,Eligible (The Austen Project #4),Fiction,27.09,27.09,0.0,14,0,A Modern Retelling of Pride and PrejudiceThis ...,http://books.toscrape.com/media/cache/0a/9a/0a...,3
881,881,And Then There Were None,Classics,35.01,35.01,0.0,3,0,"First, there were ten - a curious assortment o...",http://books.toscrape.com/media/cache/6f/b0/6f...,2
350,350,1491: New Revelations of the Americas Before C...,History,21.80,21.80,0.0,14,0,"In this groundbreaking work of science, histor...",http://books.toscrape.com/media/cache/2d/d2/2d...,3
387,387,Boar Island (Anna Pigeon #19),Mystery,59.48,59.48,0.0,12,0,"Bringing you a gripping mystery, Nevada Barr t...",http://books.toscrape.com/media/cache/91/8c/91...,3
386,386,Can You Keep a Secret? (Fear Street Relaunch #4),Horror,48.64,48.64,0.0,12,0,How many nightmares begin in the Fear Street W...,http://books.toscrape.com/media/cache/03/83/03...,1
666,666,Needful Things,Horror,47.51,47.51,0.0,4,0,Leland Gaunt opens a new shop in Castle Rock c...,http://books.toscrape.com/media/cache/d2/d8/d2...,4
989,989,Bright Lines,Fiction,39.07,39.07,0.0,1,0,"A vibrant debut novel, set in Brooklyn and Ban...",http://books.toscrape.com/media/cache/26/4f/26...,5
572,572,Fun Home: A Family Tragicomic,Add a comment,56.59,56.59,0.0,6,0,"In this graphic memoir, Alison Bechdel charts ...",http://books.toscrape.com/media/cache/48/c1/48...,4

# Data Cleaning and Preprocessing
In this section, we describe the data cleaning and preprocessing steps undertaken for this project.

## Data Cleaning Steps<br>
* Drop irrelevant features in our dataset<br>
* Check and rename/ modify some column names<br>
* Check for missing values<br>
* Remove all the rows with missing values If it exists<br>

In [23]:
book_ds.columns

Index(['Unnamed: 0', 'Title', 'Category', 'Price', 'Price_After_Tax',
       'Tax_amount', 'Avilability', 'Number_of_reviews', 'Book_Description',
       'Image_Link', 'Stars'],
      dtype='object')

After reviewing the data, it became clear to us that these fields are not useful to our project, and we have explained the reason for their deletion.

| Removed Field      | Reason for Removal |
|--------------------|--------------------|
| **Image_Link**     | This column contains external URLs to book cover images. These links provide no analytical value, many are broken or inconsistent, and they are not used anywhere in the project. Therefore, the field was removed to simplify the dataset. |
| **Book_Description** | This field contains long unstructured text, which is not needed for our statistical analysis or visualizations. Processing descriptions requires NLP techniques, which are outside the scope of this project. To improve efficiency and reduce dataset size, the field was removed. |

In [24]:
#Delete unimportant columns
book_ds = book_ds.drop(columns=['Image_Link','Book_Description'])

In [25]:
book_ds.sample(5)

,Unnamed: 0,Title,Category,Price,Price_After_Tax,Tax_amount,Avilability,Number_of_reviews,Stars
46,46,"We Love You, Charlie Freeman",Fiction,50.27,50.27,0.0,16,0,5
490,490,32 Yolks,Food and Drink,53.63,53.63,0.0,8,0,2
214,214,Agnostic: A Spirited Manifesto,Nonfiction,12.51,12.51,0.0,15,0,5
355,355,13 Hours: The Inside Account of What Really Ha...,Nonfiction,27.06,27.06,0.0,13,0,1
380,380,Hide Away (Eve Duncan #20),Mystery,11.84,11.84,0.0,12,0,1

In [26]:
# Rename columns to shorter names
book_ds = book_ds.rename(columns={
    "Unnamed: 0": "BookID",
    "Title": "Title",
    "Category": "Category",
    "Price": "Price",
    "Price_After_Tax": "PriceTax",
    "Tax_amount": "Tax",
    "Avilability": "Stock",
    "Number_of_reviews": "Reviews",
    "Stars": "Rating"
})

book_ds.sample(5)

,BookID,Title,Category,Price,PriceTax,Tax,Stock,Reviews,Rating
213,213,Amatus,Default,50.54,50.54,0.0,15,0,5
250,250,The Guilty (Will Robie #4),Thriller,13.82,13.82,0.0,14,0,2
51,51,Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRo...,Sequential Art,16.28,16.28,0.0,16,0,1
616,616,Logan Kade (Fallen Crest High #5.5),Academic,13.12,13.12,0.0,5,0,2
615,615,Lola and the Boy Next Door (Anna and the Frenc...,Young Adult,23.63,23.63,0.0,5,0,4

In [27]:
print(book_ds.dtypes)

BookID        int64
Title        object
Category     object
Price       float64
PriceTax    float64
Tax         float64
Stock         int64
Reviews       int64
Rating        int64
dtype: object

In [28]:
# Total missing values per column
book_ds.isnull().sum()

BookID      0
Title       0
Category    0
Price       0
PriceTax    0
Tax         0
Stock       0
Reviews     0
Rating      0
dtype: int64

In [ ]:
import os

main_dir = r"D:\ST Clair\DA Courses\DBA 111\DAB111_G13_Project"

data_collection_path = os.path.join(main_dir, "data collection")
os.makedirs(data_collection_path, exist_ok=True)

save_path = os.path.join(data_collection_path, "cl_book_ds.csv")

book_ds.to_csv(save_path, index=False, encoding="utf-8")

print("Saved cleaned dataset to:")
print(save_path)

Saved cleaned dataset to:<br>
..\data collection\cl_book_ds.csv